{% extends 'base.html' %}

{% block content %}
    <h2>Список товаров</h2>

    <div class="sorting-buttons">
        <a href="?sort=name" class="button">Сортировать по имени</a>
        <a href="?sort=price" class="button">Сортировать по цене</a>
    </div>

    <div class="product-list">
        {% for product in products %}
            <div class="product-item">
                <h3 class="product-title">{{ product.product }}</h3>
                <p class="product-description">{{ product.description }}</p>
                <p class="product-price">${{ product.price }}</p>
                <a href="{% url 'dz6app:order_page' product.id %}" class="button">Заказать</a>    
            </div>
        {% endfor %}
    </div>

{% endblock %}
